.App {
  text-align: left;
}

.Container {
  margin-right: auto;
  margin-left:  auto;
  
  max-width: 960px;
  
  padding-right: 12px;
  padding-left:  12px;
}

.HomeLink {
  color:#3c3d40;
  text-decoration: none;
  font-weight: bold;
}

.NavBar {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 8px;
  padding: 30px 0px;
}

.InnerNavBar {
  justify-content: space-between;
  display: flex;
}

.FullInfoPosterText {
  display: flex;
  align-items: flex-end;
}

.ListLink {
  color:#3c3d40;
  text-decoration: none;
  margin: 24px;
}

.GridWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 14px;
}

.MovieList {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.MovieCard {
  margin-right: 18px;
  width: 180px;
  flex-shrink: 0;
  scroll-snap-align: start;
  color: #3c3d40;
  text-decoration: none;
}

.BigMovieCard {
  margin-right: 20px;
  width: 100%;
  height: 480px;
  background-position: center;
  position: relative;
  flex-shrink: 0;
  scroll-snap-align: start;
  background-size: cover;
  border-radius: 6px;
}

.BackgroundIndividual {
  margin-bottom: -246px;
  margin-right: 20px;
  width: 100%;
  height: 480px;
  background-position: center;
  flex-shrink: 0;
  background-size: cover;
}

.BigMovieCardText {
  color: white;
  position: absolute;
  margin: 0;
  bottom: 30px;
  left: 30px;  
}

.SmallMargin {
  margin: 6px
}

.GenreList {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.Genre {
  margin-right: 12px;
  text-align: center;
  flex-shrink: 0;
  scroll-snap-align: start;
  background-color: rgb(247, 247, 174);
  background-size: cover;
  background-position: center;
  text-decoration: none;
  color: white;
  padding: 60px 6px;
  width: 300px;
  border-radius: 6px;
}

.PosterCard {
  margin: 12px 0px;
  background-color: white;
}

.Poster {
  max-width: 100%;
  border-radius: 6px;
}

.FullInfoPoster {
  max-width: 100%;
  border-radius: 6px;
  box-shadow: 0px 2px 6px 1px rgb(0 0 0 / 20%);
}

.MovieInfoContainer {
  max-width: 100%;
  border-radius: 6px;
  position: absolute;
  top: 300px;
  left: 90px;
  margin-right: 90px;
}

.FullInfoTitle {
  color: white;
  margin-bottom: 48px;
  margin-left: 18px;
}

.PosterText {
  color: #3c3d40;
  margin: 0;
  text-decoration: none;
}

.NoPosterCard {
  background-color: #B2B2B2;
  padding: 6px;
  height: 432px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Input {
  font-size: 16px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #C9C8C8;
  padding: 6px 12px;
  -webkit-appearance: none;
  margin-top: 12px;
} 

.ScrollListHeader {
  padding: 6px 0px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.ButtonContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.LoadButton {
  padding: 6px;
  margin-top: 30px;
  margin-bottom: 42px;
  background-color: #625E5E;
  color: white;
  font-weight: bold;
}

.BottomText {
  margin-top: 30px;
  margin-bottom: 42px;
}

@media (max-width: 767px) {
  .GridWrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
  }
  .NavBar {
    padding: 24px 0px;
  }
  .ScrollButton {
    display: none;
  }
  .BigMovieCard {
    height: 240px;
  }
  .BigMovieCardText {
    bottom: 12px;
    left: 12px;
  }
  .NoPosterCard {
    height: 246px;
  }
  .MovieInfoContainer {
    left: 60px;
    margin-right: 30px;
  }
  .FullInfoPosterText {
    display: block;
    text-align: center;
  }
  .FullInfoTitle {
    color: #3c3d40;
  }
  .BackgroundIndividual {
    height: 336px;
  }
}