.App {
  text-align: center;
}

.Container {
  margin-right: auto;
  margin-left:  auto;
  
  max-width: 960px;
  
  padding-right: 12px;
  padding-left:  12px;
}

.MovieList {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.MovieCard {
  margin-right: 20px;
  width: 180px;
  min-width: 180px;
  scroll-snap-align: center;
}

.GenreList {
  display: flex;
}

.Genre {
  margin-right: 12px;
}

.Poster {
  max-width: 100%;
}