.App {
  text-align: center;
}

.MovieList {
  display: flex;
}

.MovieCard {
  margin-right: 20px;
  width: 180px;
  min-width: 180px;
}

.GenreList {
  display: flex;
}

.Genre {
  margin-right: 12px;
}

.Poster {
  max-width: 100%;
}